.--is-bold {
  font-weight: var(--font-weight-bold);
}

.--is-invisible {
  display: none !important;
}

.--is-hidden {
  visibility: hidden;
}

.--no-padding-top {
  padding-top: 0 !important;
}

.--no-padding-bottom {
  padding-bottom: 0 !important;
}

.--no-padding {
  padding-top: 0 !important;
  padding-right: 0 !important;
  padding-bottom: 0 !important;
  padding-left: 0 !important;
}

.click-trigger,
.click-trigger * {
  cursor: pointer;
}

.--is-hidden-mobile {
  display: block;
}

.--is-hidden-desktop {
  display: none;
}

@include breakpoint-max-base {
  .--is-hidden-mobile {
    display: none;
  }

  .--is-hidden-desktop {
    display: block;
  }
}
